.Text-Praveen {
    font-size: 2rem !important;
    color: #1660d6;
    font-weight: 550 !important;
  }
  
  .Text-ceo {
    font-size: 1.2rem !important;
    font-weight: 550 !important;
  }
 .new-images{
  width: 180px;
  height: auto;
 }